#
# dotzsh : https://github.com/dotphiles/dotzsh
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "modules/history-substring-search/external"]
	path = modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "modules/syntax-highlighting/external"]
	path = modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/completion/external"]
	path = modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "modules/auto-fu/external"]
	path = modules/auto-fu/external
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule "modules/fasd/external"]
	path = modules/fasd/external
	url = https://github.com/clvv/fasd.git
[submodule "modules/zaw/external"]
	path = modules/zaw/external
	url = https://github.com/zsh-users/zaw
[submodule "modules/autoenv/external"]
	path = modules/autoenv/external
	url = https://github.com/kennethreitz/autoenv
[submodule "modules/aliaster"]
	path = modules/aliaster
	url = https://github.com/wesalvaro/Aliaster.git
[submodule "modules/autosuggestions/external"]
	path = modules/autosuggestions/external
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "modules/docker/external"]
	path = modules/docker/external
	url = https://github.com/felixr/docker-zsh-completion.git
