#
# dotzsh : https://github.com/dotphiles/dotzsh
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "modules/history-substring-search/external"]
	path = modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "modules/syntax-highlighting/external"]
	path = modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/completion/external"]
	path = modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "modules/auto-fu/external"]
	path = modules/auto-fu/external
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule "modules/fasd/external"]
	path = modules/fasd/external
	url = https://github.com/clvv/fasd.git
[submodule "modules/zaw/external"]
	path = modules/zaw/external
	url = https://github.com/zsh-users/zaw
